# Data Science Tools And Ecosysytem

In this notebook, data science tools and ecosystem are summarized

**Objectives** 
ul
- List popular languages data scientists use
- List common libraries data scientists use
- List data science tools

some of the popular languages that data scientists use are

ol 
1. Python 
2. R
3. SQL

Some of the commonly used libraries by data scientists include

ol
1. NumPy
2. Panads
3. Scikit-learn 
4. MatplotLib

|Data Science Tools|
|-----|
|MongoDB|
|Apache|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic to multiply and add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Agorchukwu Naeto